<h1 class="title">Demo Blog</h1>

<h2 class="blog">Blog Title</h2>

<h3 class="body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero officiis sed voluptatibus cupiditate autem hic laudantium sunt rerum iure ducimus eligendi in eaque, assumenda minus, aliquid blanditiis esse rem.</h3>

<h4 class="time">10:30AM Sept 7, 2020</h4>

<h4 class="author">Lorem Ipsum</h4>