<h1 class="title">Demo Blog</h1>

# Template 1

<h2 class="blog">Blog Title</h2>

<h3 class="body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero officiis sed voluptatibus cupiditate autem hic laudantium sunt rerum iure ducimus eligendi in eaque, assumenda minus, aliquid blanditiis esse rem.</h3>

<h4 class="time">10:30AM Sept 7, 2020</h4>

<h4 class="author">Lorem Ipsum</h4>

# Template 2

<h2 class="blog">Blog Title</h2>

<h3 class="body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero officiis sed voluptatibus cupiditate autem hic laudantium sunt rerum iure ducimus eligendi in eaque, assumenda minus, aliquid blanditiis esse rem.</h3>

<h3>IMAGE</h3>

<h4 class="time">10:30AM Sept 7, 2020</h4>

<h4 class="author">Lorem Ipsum</h4>

# Template 3

<h2 class="blog">Blog Title</h2>

<h3 class="body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero officiis sed voluptatibus cupiditate autem hic laudantium sunt rerum iure ducimus eligendi in eaque, assumenda minus, aliquid blanditiis esse rem.</h3>

<h3>LINK THUMBNAIL</h3>

<h4 class="time">10:30AM Sept 7, 2020</h4>

<h4 class="author">Lorem Ipsum</h4>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
    </tr>

    <% @post.each do |post| %>
        <tr>
            <th><%= post.title %></th>
            <th><%= post.content %></th>
            <th><%= link_to 'Show', post_path(post) %></th>
        </tr>
    <% end %>
</table>